<h1>Welcome! Sign Up Here</h1>

<% if !@errors.nil? %>
	<% @errors.each do |key, value| %>
		<p style="color: red;"><%= @errors[key] %></p>
	<% end %>
<% end %>

<form method="post" action="/signup">
<label>Name: </label>
<input type="text" id="name" name="name"><br><br>
<label>Username: </label>
<input type="text" id="username" name="username"><br><br>
<label>Password: </label>
<input type="password" id="password" name="password"><br><br>
<label>Address: </label>
<input type="text" id="address" name="address"><br><br>
<label>Start Date: </label>
<input type="text" id="username" name="username"><br><br>
<label>Role: </label>
<select type="text" name="role_id">
<% Role.all.each do |role| %>
<option value="<%= role.id %>"><%= role.name %></option>
<% end %>
</select>
<br><br>
<input type="submit" value="Submit">
</form>