<h1>Login</h1>

<form action="login" method="post">
<label>Username: </label>
<input type="text" id="username" name="username"><br><br>
<label>Password: </label>
<input type="password" id="password" name="password"><br><br>
<input type="submit" value="Submit">
</form>