<h1>Create a new task:</h1>

<form method="post" action="/tasks">
	<label>Name: </label>
	<input type="text" name="name" id="name"><br>
	<label>Due Date:</label>
	<input type="text" name="due_date" id="due_date"><br><br>
	<input type="submit" value="Submit">
</form>